<% content_for :head_stylesheet do %>
<%= stylesheet_link_tag "article" %>
<% end %>
<% content_for :header do %>
<header class="page">
  <%= partial "partials/_nav" %>

  <% if current_article %>
  <div class="hero elastic" id="headline">
    <time><%= current_article.date.strftime "%d %B, %Y" %></time>
    <h2><%= current_article.title %></h2>
    <p class="subtitle"><%= current_article.data.subtitle %></p>
  </div>
  <% end %>
</header>
<% end %>

<% wrap_layout :layout do %>
  <article>
    <div class="post">
      <section>
        <%= yield %>
      </section>
    </div>

    <div class="sidebar">
      <aside>
        <img src="/images/headshot.jpg" alt="It's me!" class="circle headshot" />
        <h3>Adam Burmister.</h3>
        <p>I like to think of myself as a MacGyver of tech startups. Give me a random collection of ideas and technologies and I'll whip up a hang glider with rocket launchers. Or a single-page-web-app. Whatever.</p>

        <h3>Elsewhere.</h3>
        <p>I rant at <a href="https://twitter.com/adamburmister">@adamburmister</a>, contribute code at <a href="http://github.com/adamburmister/">Github</a>, and network on <a href="http://www.linkedin.com/in/adamburmister">LinkedIn</a>.</p>

        <h3>Curriculum Vitae.</h3>
        <p>If you're interested in what I've done you can <a href="/Adam_Burmister-CV.pdf">download my CV</a> or connect on <a href="http://www.linkedin.com/in/adamburmister">LinkedIn</a>.</p>
      </aside>
    </div>
  </article>

  <footer class="elastic">
    <!-- <nav class="content">
      <a href="#">Previous Post</a> / <a href="#">Next Post</a>
    </nav> -->
    <!-- <div class="top">
      <a href="#headline">Back to top</a>
    </div> -->
    <div class="copyright">
      <small>
        &copy; <%= current_article ? current_article.date.year : Date.today.year %> Adam Burmister
      </small>
    </div>
  </footer>
<% end %>