<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <title><%= current_page.data.title || "Flog" %> | Adam Burmister, Web Superhero in Training</title>
  <meta name="description" content="Adam Burmister: Entrepreneur, Developer, Designer in London, owner of a lonely heart">
  <meta name="author" content="Adam Burmister">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
  <%= stylesheet_link_tag "main" %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js", "flog" %>
  <%= yield_content :head_stylesheet %>
  <%= yield_content :head_javascript %>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body class="<%= current_page.data.scheme || 'black' %>">

<header class="page"<%= "style=\"background-image:url(#{current_page.data.hero_bg_img_url});\"" if current_page.data.hero_bg_img_url %>>
<%= partial "partials/_nav" %>
<%= yield_content :header %>
</header>

<div id="main">
<%= yield %>
</div>

<%= yield_content :footer_javascript %>
</body>
</html>
